/* set button "a" style to a beautiful button */
a {
    color: rgb(95, 138, 255);
    text-decoration: none;
    background-color: #428bca;
    border-color: #ffffff;
    border-radius: 8px;
    padding: 6px 12px;
    font-size: 20px;
    line-height: 1.42857143;
    border: 1px solid transparent;
    border-radius: 4px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}